*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    background-color: hrl(30, 54%, 90%);
    justify-content: center;
    height: 2000px;
}
.Principal-container{
    background-color: aliceblue;
    height: 1800px;
    width: 700px;
    padding: 20px;
    border-radius: 10px;
    margin: 100px;
}

.imagem{
    width: 500px;
    height: 200px;
    border-radius: 10px;
}
.título{
    font-family: "fanunces", sans-serif;
}
.bloco-rosa{
    background-color: azure;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
}
h2{
    color:rgb(163, 72, 20);
}
.lista{
    margin-left: 18px;
}