.container{
    height: 200px;
    background-color: rgb(71, 46, 160);
    display: flex;
    padding: 30px;
}

.item-1{
    background-color: rgb(128, 128, 218);
}

.item-2{
    background-color: rgb(130, 53, 153);
}

.item-3{
    background-color: rgb(125, 36, 241);
}

.container-2{
    background-color: rgb(132, 96, 165);
    height: 200px;
}

.container-3{
    background-color: rgb(193, 151, 233);
    height: 200px;
}
body{
    display: flex;
}